<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ortak_pc.yllkplan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/kimyabeyicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/kimyabeyicon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Duzen"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".donemone" />
        <activity android:name=".donemiki" />
        <activity android:name=".donemoneaylar" />
        <activity android:name=".planlar" />
        <activity android:name=".haftalar" />
        <activity android:name=".duzenleme" />
    </application>

</manifest>